body{
    background-color:#EAE0D5 ;
}
#hd1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color:#22333B ;
}
#hd2{
    font-family: Arial, Helvetica, sans-serif;
    color:#22333B ;
}
#p1{
    font-family: Arial, Helvetica, sans-serif;
    color:#22333B ;
}
#hr{
    color:#5e503f ;
    border-color:#5e503f ;
}
#ref1{
    color:#c6ac8e ;
}
#p2{
    font-family: Arial, Helvetica, sans-serif;
    color:#22333B ;
}